*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "PT Serif", ui-sans-serif, system-ui,Helvetica Neue, Arial, Noto Sans,
     sans-serif, "Apple Color Emoji","Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    }
#gen-container{
    background-color:rgba(153, 119, 255,0.6); 
    color:white;
    min-height: 100vh;
    width:100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
} 
.wrapper{
    width: 30rem;
    min-height:40vh;
    border-radius:10px;
    background-color: white;
} 
.watch{
    width:100%;
    height:20rem;
    margin:auto;
    object-fit:cover;
}
img{
width: 100%;
height: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.text{
    width:100%;
    min-height:10rem;
    background-color: white;
    color:black;
    font-size:0.80rem;
    padding:10px;
    font-weight: bold;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

@media screen and (max-width: 768px){
    .wrapper{
        width:70%;
    } 
}

@media screen and (max-width: 600px){
    .wrapper{
        width:90%;
    } 
}

@media screen and (max-width: 480px){
    .wrapper{
        width:100%;
    }
}
